<h2>  Welcome to the Jungle </h2>
<p>Launched in 2019, We're the leading platform for the most exclusive itens in the world. We serve millions of buyers in 120 countries.</p>
<p>We brings you hundreds of products in categories, including consumer electronics, machinery and apparel.</p>
<p>As a platform, we continue to develop services to help our customers do more and discover new opportunities each day.<p>

<h3>Our Mission</h3>
<p>Our mission is to make you unique. We do this by giving to our customers a large variety of specific exquisite products.</p>
<% request.env.each do |key, value| %>
  <strong><%= key %></strong> => <%= value %><br/>
<% end %>



